asgiref
astroid
autopep8
dill
Django
django-sass-processor
isort
lazy-object-proxy
mccabe
Pillow
platformdirs
psycopg2-binary
pycodestyle
pylint
pylint-django
pylint-plugin-utils
sqlparse
tomlkit
wrapt
dj-database-url
gunicorn
django_heroku